/*=============== MEDIA QUERIES ===============*/
/* For medium devices */
@media screen and (min-width: 576px){
    .accordion{
        &__container{
            width: 550px;
            padding: 2.5rem;
            justify-self: center;
            border-radius: .75rem;
        }
        &__header{
            padding: 1.5rem;
        }
        &__title{
            padding-right: 3.5rem;
        }
        &__description{
            padding: 0 4rem 1.25rem 3.5rem;
        }
    }
}

/* For large devices */
@media screen and (min-width: 968px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}