/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    /*========== Colors ==========*/
    --hue-color: 225;

    --first-color: ;
    --title-color: ;
    --text-color: ;
    --body-color: ;
    --container-color: ;

    /*========== Font and typography ==========*/
    --body-font: ;

    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;

    @media screen and (min-width: 968px){
        --normal-font-size: ;
        --small-font-size: ;
        --smaller-font-size: ;
    }
}